#jobs
	.job
		%h2= @job.Titulli
		%p= @job.Pershkrimi
		%p= @job.kompania
		

#links
	= link_to "Back", root_path, class: "btn btn-sm btn-default"
	= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default"
	= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "A jeni i sigurte?" }, class: "btn btn-sm btn-default"